{% extends 'base.html.twig' %}

{% block title %}Reset du mot de passe{% endblock %}

{% block content %}

<h1>Reinitialiser mon mot de passe</h1>

{% for message in app.flashes('notice') %}
<div class="alert alert-info">{{message}}</div>
{% endfor %}
{{form(form)}}
{% endblock %}