body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

main {
  height: 100%;
}
.navbar-item-custom a {
  color: white;
  text-decoration: none;
}

.color-nav {
  background-color: aquamarine;
}

footer {
  text-align: center;
  /* position: fixed;
  bottom: 0px;*/
  background-color: #dfeaff;
}

.top {
  color: rgb(103, 103, 103);
}

.product-container {
  margin-bottom: 90px;
}

.hover-text {
  color: inherit;
}

.wight {
  color: white;
}

.bottom {
  margin-bottom: 130px;
}

.cart-icon {
  height: 20px;
  padding-left: 20px;
}

.form-check {
  background-color: aliceblue;
  padding: 20px;
  border-radius: 5px;
}

.filtre {
  background-color: aliceblue;
  border-radius: 10px;
}
